@model Mod03_ChelasMovies.DomainModel.Comment

@{
    ViewBag.Title = "Details Comment";
}

<h2>Details Comment</h2>

<fieldset>
    <legend>Comment</legend>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Rating</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "EditComment", new { movieId = Model.MovieID, commentId = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>