@model Comment

@{
    ViewBag.Title = "Edit Comment";
}

<h2>Edit Comment</h2>

@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Comment</legend>

       @Html.Partial("_CreateOrEdit", Model)

        <p><input type="submit" value="Save" /></p>
    </fieldset>
}

<div>@Html.ActionLink("Back to List", "Details", "Movies", new { id = Model.MovieID }, null)</div>