@model Group

@{
    ViewBag.Title = "Delete Movies";
}

<h3>Are you sure you want to delete this?</h3>

<fieldset>
    <legend>Movies</legend>

    @using (Html.BeginForm("DeleteMovies", "Groups", new { id = Model.ID }, FormMethod.Post))
    {
        if (ViewBag.DeleteSharedMovies != null)
        {
            <table>
                <tr>
                    <th>&nbsp;</th>
                    <th>Title</th>
                </tr>

                @foreach (var item in ViewBag.DeleteSharedMovies)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="deleteMovies" value="@item.ID" />
                        </td>
                        <td>
                            @item.Title
                        </td>
                    </tr>
                }
            </table>
        }
        <br />
        <input name="DeleteMoviesButton" type="submit" value="Delete" />
    }
</fieldset>

<p>
    @Html.ActionLink("Back to Details", "Details", new { id = Model.ID })
</p>